@import "../abstracts/colors";

.button {
  color: $appFontColor;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.5em;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    border: none;
    border-radius: 50%;
    background-color: $uiBackground2;

    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
      background-color: $uiBackground3;
    }
  }
}
