@import "../abstracts/colors";

.open-list {
  position: absolute;
  left: 12px;
  bottom: 12px;
  align-items: center;

  & svg {
    width: 32px;
    height: 32px;
  }
}

.com-dev {
  background-color: $uiBackground1;
  color: $appFontColor;

  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.4rem;

    & svg {
      width: 32px;
      height: 32px;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    overflow-y: auto;
  }
}
