@import "../abstracts/colors";
@import "../abstracts/typo";

.dev-list {
  background-color: $uiBackground1;

  grid-area: list;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;

  padding-inline: 0.5rem;
  padding-block: 0 0.5rem;

  &--header {
    background-color: $uiBackground1;

    position: sticky;
    top: 0;
    left: 0;

    padding-block: 0.5rem;
  }
}

.dev-list-el {
  background-color: $uiBackground2;
  border-radius: 10px;

  display: grid;
  grid-template-areas: "name name" "con type";
  gap: 0.275rem;

  padding: 0.5rem;

  &--name {
    font-size: $font-l;

    grid-area: name;
  }

  &--con {
    text-align: left;

    grid-area: con;
    & > svg {
      width: 32px;
      height: 32px;
    }

    &__connected > svg {
      color: green;
    }
    &__disconnected > svg {
      color: red;
    }
    &__poorConnection > svg {
      color: yellow;
    }
  }

  &--type {
    text-align: right;

    grid-area: type;

    & > svg {
      width: 32px;
      height: 32px;
    }
  }
}
