@import "../abstracts/colors";
@import "../abstracts/typo";
@import "../abstracts/brakepoints";

.dev {
  background-color: $uiBackground1;
  grid-area: list;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 360px;
  overflow-y: hidden;

  @media screen and (max-width: $bp_tablet) {
    max-width: 240px;
  }

  @media screen and (max-width: $bp_phone) {
    max-width: 200px;
  }
}

.dev--header {
  padding-left: 0.5rem;
}

.dev--list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  scrollbar-width: thin;
  overflow-y: auto;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.dev-list-el {
  background-color: $uiBackground2;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-areas: "name name" "con type";
  gap: 0.275rem;

  padding: 0.5rem;
  margin-inline: 0.5rem;

  &__selected {
    outline: 2px solid $uiBackground3;
    box-shadow: inset 0px 0px 6px opacify($uiBackground3, 0.9);
  }

  &--name {
    font-size: $font-l;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    grid-area: name;
  }

  &--con {
    text-align: left;

    grid-area: con;
    & > svg {
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
      width: 32px;
      height: 32px;
    }

    &__connected > svg {
      filter: drop-shadow(0 0 5px opacify($success, 0.5));
      fill: $success;
    }

    &__disconnected > svg {
      filter: drop-shadow(0 0 5px opacify($error, 0.5));
      fill: $error;
    }

    &__poorConnection > svg {
      filter: drop-shadow(0 0 5px opacify($warning, 0.5));
      fill: $warning;
    }
  }

  &--type {
    text-align: right;

    grid-area: type;

    & > svg {
      filter: drop-shadow(0 0 1px opacify($appFontColor, 0.25));
      fill: $appFontColor;
      width: 32px;
      height: 32px;
    }
  }
}
