@import "../abstracts/colors";

.drag-device-area {
  grid-area: app;
}

#device-window {
  background-color: $uiBackground2;
  border: 1px solid $uiBackground3;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.33);

  padding: 0.5rem;
}
