@import "../abstracts/colors";

.full-window {
  grid-area: app;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0.5rem;

  & > svg {
    opacity: 0.4;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));

    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 256px;
    height: 256px;
  }

  & .button__icon > svg {
    width: 32px;
    height: 32px;
  }

  &--nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  & > .dev-info {
    background-color: $uiBackground1;
    border: 1px solid $uiBackground3;
    border-radius: 10px;

    padding: 0.5rem;
  }
}
