@import "../abstracts/animations";
@import "../abstracts/colors";

.loading {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__element {
    border: 6px solid $uiBackground3;
    border-top: 6px solid $success;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s ease-in-out infinite;
  }
}
