@import "../abstracts/colors";
@import "../abstracts/typo";

.navbar {
  background-color: $uiBackground1;

  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-inline: 4rem;

  &--logo {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);

    inline-size: 46px;
  }

  &--settings {
    border: none;
    border-radius: 50%;
    background-color: $uiBackground2;
    color: $appFontColor;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;

    & svg {
      width: 32px;
      height: 32px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $uiBackground3;
    }
  }
}
