@import "../abstracts/colors";
@import "../abstracts/typo";
@import "../abstracts/brakepoints";

.navbar {
  background-color: $uiBackground1;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.33);

  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-inline: 4rem;

  &--logo {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5);

    inline-size: 46px;
  }

  & .button__icon > svg {
    width: 32px;
    height: 32px;
  }

  @media screen and (max-width: $bp_tablet) {
    padding-inline: 2rem;
  }

  @media screen and (max-width: $bp_phone) {
    padding-inline: 0.65rem;
  }
}
