// https://type-scale.com/
$font-4xl: 2.488rem;
$font-3xl: 2.074rem;
$font-xxl: 1.728rem;
$font-xl: 1.44rem;
$font-l: 1.2rem;
$font-m: 1rem;
$font-s: 0.833rem;
$font-xs: 0.694rem;
$font-xxs: 0.579rem;
